.container
{
    display: flex;
    background-color: #fff;
    padding: 5px;
}

.thumbnail
{
    display: flex;
}

.thumbnail img
{
    filter: brightness(0.7);
}

nav
{
    background-color: #353535;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a
{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

nav a:hover
{
    text-decoration: none;
    color: #c3c3c3;
}

body
{
    margin: 0px;
}

main
{
    padding: 15px;
    width: 75%;
    height: auto;
    float: left;
    background-color: #c1c1c1;
    margin: 0px 5px 0px 5px;
}

article
{
    background-color: #fff;
    padding-right: 5px;
    margin: 10px;
    display: flex;
}

article .content
{
    margin-left: 10px;
    width: 70%;
}

aside
{
    padding: 15px;
    width: 25%;
    float: right;
    height: auto;
    background-color: #c1c1c1;
}

aside a
{
    text-decoration: none;
    color: black;
}

aside a:hover
{
    text-decoration: none;
    color: #fff;
}

footer
{
    padding: 5px;
    padding-top: 15px;
    height: 100%;
    background-color: #353535;
    margin-bottom: 0px;
    color: #fff;
}

footer a
{
    text-decoration: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

figure img, aside video
{
    width: -webkit-fill-available;
}
